#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



#define SEND_KEY_TWICE_MACRO(NAME, KEY) \
/ { \
  macros { \
    ZMK_MACRO(NAME, \
        wait-ms = <40>; \
        tap-ms = <40>; \
        bindings = <&kp KEY &kp KEY>; \
    ) \
  }; \
};

SEND_KEY_TWICE_MACRO(dollar_dollar, DOLLAR)
SEND_KEY_TWICE_MACRO(space_space, SPACE)

// key aliases to keep keymap layout neater
#define CT(x) &cmd_hold LG(x) x
#define OT(x) &cmd_hold LA(x) x

#define MEH      LA(LC(LSHIFT))
#define PREV_TAB LC(LS(TAB))
#define NEXT_TAB LC(TAB)
#define BACK     LG(LBKT)
#define FORWARD  LG(RBKT)

#define BSLH_HOME &ht_tp HOME        BACKSLASH
#define PIPE_END  &ht_tp END         PIPE
#define ESC_FQUIT &ht_tp LA(LG(ESC)) ESC
#define Q_H       &ht_tp H           Q
#define DEL_CTR_K &ht_tp LC(K)       DEL
#define SPC_OPEN  &ht_tp LG(O)       SPACE

// layers
#define SYMBOLS 1
#define NUMBERS 2
#define NAVIGATE 3
#define HARDWARE 4

&mt {
    tapping-term-ms = <300>;
};
&lt {
    tapping-term-ms = <300>;
};
&sk {
    quick-release;
};

/ {
    behaviors {
        ht_tp: hold_tap_tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_TP";
            #binding-cells = <2>;
            tapping-term-ms = <264>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        cmd_hold: command_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "CMD_HOLD";
            #binding-cells = <2>;
            tapping-term-ms = <264>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td_spc: tap_dance_space {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_SPC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&ht_tp LCMD SPACE>, <&ht_tp LG(SPACE) &space_space>;
        };

        td_q: tap_dance_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_Q";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&cmd_hold LG(Q) Q>, <&kp ESC>;
        };

        td_prscr: tap_dance_screenshot {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_PRSCR";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&cmd_hold LC(LG(LS(N4))) DOLLAR>, <&ht_tp LG(LS(N5)) &dollar_dollar>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer { // 0
            bindings = \
//       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
<&none     &td_q         CT(W)         CT(F)         CT(P)         CT(B)             CT(J)         CT(L)         CT(U)         CT(Y)         CT(BSPC)      &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     CT(A)         CT(R)         CT(S)         CT(T)         CT(G)             CT(M)         CT(N)         CT(E)         CT(I)         CT(O)         &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     CT(Z)         CT(X)         CT(C)         CT(D)         CT(V)             CT(K)         CT(H)         CT(COMMA)     CT(DOT)       CT(FSLH)      &none >,
//       ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
<                                      &kp MEH       &td_spc       &sk LSHIFT        &sk LALT      &sl SYMBOLS   &sk RCTRL     >;
//                                   ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
        };

        symbols_layer { // SYMBOLS (one-shot)
            bindings = \
//       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
<&none     &kp ESC       &kp AT        &kp HASH      &td_prscr     &kp PRCNT         &kp CARET     &kp AMPS      &kp STAR      &kp SEMI      &kp COLON     &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     &kp TAB       &kp UNDER     CT(MINUS)     CT(SQT)       &kp GRAVE         BSLH_HOME     CT(LBRC)      CT(RBRC)      PIPE_END      CT(ENTER)     &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     &kp TILDE     &kp EQUAL     &kp EXCL      &kp DQT       CT(PLUS)          CT(LBKT)      &kp LPAR      &kp RPAR      CT(RBKT)      &sl NAVIGATE  &none >,
//       ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
<                                      &to 0         &sk LCMD      &trans            &trans        &to NUMBERS   &trans        >;
//                                   ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
        };

        numbers_layer { // NUMBERS
            bindings = \
//       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
<&none     &trans        &kp A         &kp B         &kp C         CT(UNDER)         CT(MINUS)     CT(N7)        CT(N8)        CT(N9)        &trans        &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     &trans        &kp D         &kp E         &kp F         CT(PLUS)          CT(EQUAL)     CT(N4)        CT(N5)        CT(N6)        &trans        &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     &to HARDWARE  &trans        &trans        &kp STAR      &kp DOT           CT(N0)        CT(N1)        CT(N2)        CT(N3)        &trans        &none >,
//       ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
<                                      &trans        &trans        &trans            &trans        &trans        &trans        >;
//                                   ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
        };

        navigate_layer { // NAVIGATE
            bindings = \
//       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
<&none     ESC_FQUIT     &none         &none         &none         Q_H               &kp BACK      &kp PREV_TAB  &kp NEXT_TAB  &kp FORWARD   &trans        &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     CT(TAB)       &none         &none         &none         DEL_CTR_K         OT(LEFT)      DOWN          UP            OT(RIGHT)     &trans        &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     CT(GRAVE)     &none         &none         &none         SPC_OPEN          &none         &none         &none         &none         &none         &none >,
//       ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
<                                      &trans        &trans        &trans            &trans        &trans        &trans        >;
//                                   ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
        };

        hardware_layer { // HARDWARE
            bindings = \
//       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
<&none     &none         &kp C_PP      &kp C_PREV    &kp C_NEXT    &none             &kp F10       &kp F7        &kp F8        &kp F9        &none         &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     &none         &kp C_MUTE    &kp C_VOL_DN  &kp C_VOL_UP  &none             &kp F11       &kp F4        &kp F5        &kp F6        &none         &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     &none         &kp F14       &kp F15       &none         &none             &kp F12       &kp F1        &kp F2        &kp F3        &none         &none >,
//       ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
<                                      &trans        &trans        &trans            &trans        &trans        &trans        >;
//                                   ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
        };

        blank_layer {
            bindings = \
//       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
<&none     &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &none >,
//       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
<&none     &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &none >,
//       ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
<                                      &trans        &trans        &trans            &trans        &trans        &trans        >;
//                                   ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
        };
    };
};
